#root {
  max-width: 1500px;
  margin: 40px auto;
  padding: 1rem;
  text-align: right;
  background: #eefaff;
}

.logo {
  height: 3em;
  padding: 0.5em;
  transition: transform 400ms;
  border-radius: 5px;
  border: 3px solid blue;
}
.logo:hover {
  transform: scale(1.2);
}
.logo.react:hover {
  transform: rotate(20deg);
}

@keyframes logo-spin {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(340deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 30s ease-in-out;
  }
}

.card {
  padding: 1em;
  border: 2px dotted blue;
  background: #eef7ff;
}

.read-the-docs {
  color: #0044cc;
  font-style: italic;
}
