#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem;
  text-align: left;
  background: #ffeeee;
}

.logo {
  height: 10em;
  padding: 2em;
  transition: filter 200ms;
  border-radius: 20px;
  border: 3px solid red;
}
.logo:hover {
  filter: brightness(1.5);
}
.logo.react:hover {
  filter: hue-rotate(120deg);
}

@keyframes logo-spin {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(370deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 5s linear;
  }
}

.card {
  padding: 3em;
  border: 2px dashed red;
  background: #fff5f5;
}

.read-the-docs {
  color: #c00;
  font-weight: bold;
}
